body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}
div.menu {
	font-size: 1.2em;
}

div.submenu
{
	font-size: 0.9em;
}

div.indent1 {
	margin-left: 0.8em;
}

div.indent2 {
	margin-left: 1.6em;
}